################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Test01-Hello/.vs
/Test01-Hello/bin/Debug
/Test01-Hello/obj
/CApp1/.vs/CApp1
/CApp1/x64/Debug
/Test02-List/bin/Debug
/Test02-List/obj/Debug
